@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: normal;

	src: url('/fonts/inter-normal-variable.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: italic;

	src: url('/fonts/inter-italic-variable.ttf') format('truetype');
}
